{% extends "base.html" %}
{% load static %}

{% block title %}My rent{% endblock %}
{% block content %}

<main class="container mt-header">
	<div class="row" role="tablist">
	
			<div class="col-lg-3 d-flex flex-column nav nav-pills">
				{% if request.user.is_staff %}
					<a href="{% url 'worker_orders' %}" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">
						Заказы
					</a>
				{% else %}
					<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_orange SelfStorage_tab active" id="LK-tab" data-bs-toggle="pill" data-bs-target="#LK" type="button" role="tab" aria-controls="LK" aria-selected="true">Личный кабинет</button>
					<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab" id="Rent-tab" data-bs-toggle="pill" data-bs-target="#Rent" type="button" role="tab" aria-controls="Rent" aria-selected="false">Моя аренда</button>
					<a href="{% url 'my_items' %}" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">Мои вещи</a>
					<a href="{% url 'faq' %}" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">FAQ</a>
					<a href="{% url 'logout' %}" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">Выйти</a>
				{% endif %}
			
			</div>
		
		<div class="col-lg-9">
			<div class="card tab-content p-5">
				<div class="tab-pane fade show active" id="LK" role="tabpanel" aria-labelledby="LK-tab">
					<div class="row">
						<div class="col-12 col-sm-5 d-flex flex-column align-items-center">
							<img src="{% static 'img/image10.png' %}" class="rounded-pill mb-3" alt="">
							<h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
						</div>
						<div class="col-12 col-sm-7 d-flex flex-column">
							{% if messages %}
								<div class="alert alert-success" role="alert">
									{% for message in messages %}
										{{ message }}
									{% endfor %}
								</div>
							{% endif %}
							<form method="POST" action="{% url 'update_profile' %}">
								{% csrf_token %}
								<label class="fs_24 SelfStorage_green ms-2" for="FIRST_NAME">Имя</label>
								<input type="text" name="FIRST_NAME" id="FIRST_NAME" class="form-control fs_24 ps-2 SelfStorage__input mb-3" value="{{ request.user.first_name }}" disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="LAST_NAME">Фамилия</label>
								<input type="text" name="LAST_NAME" id="LAST_NAME" class="form-control fs_24 ps-2 SelfStorage__input mb-3" value="{{ request.user.last_name }}" disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="EMAIL">E-mail</label>
								<input type="email" name="EMAIL_EDIT" id="EMAIL" class="form-control fs_24 ps-2 SelfStorage__input mb-3" value="{{ request.user.email }}" disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="PHONE">Телефон</label>
								<input type="tel" name="PHONE_EDIT" id="PHONE" class="form-control fs_24 ps-2 SelfStorage__input mb-3" value="{{ request.user.phone_number }}" disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="PASSWORD">Пароль</label>
								<input type="password" name="PASSWORD_EDIT" id="PASSWORD" class="form-control fs_24 ps-2 SelfStorage__input mb-3" value="********" disabled>
								<button type="submit" class="btn SelfStorage_green ps-1" id="save" style="display: none">Сохранить</button>
								<a class="btn SelfStorage_orange ps-1" id="edit">Редактировать</a>
							</form>
							<a style="color: red; padding-left: 5px; padding-top:30px; font-size: 20px;" href="{% url 'logout' %}" >Выйти</a>
							<script>
								document.getElementById('edit').addEventListener('click', e => {
									e.preventDefault();
									document.getElementById('FIRST_NAME').disabled = false;
									document.getElementById('LAST_NAME').disabled = false;
									document.getElementById('EMAIL').disabled = false;
									document.getElementById('PHONE').disabled = false;
									document.getElementById('PASSWORD').disabled = false;
									document.getElementById('PASSWORD').type = 'text';
									document.getElementById('edit').style.display = 'none';
									document.getElementById('save').style.display = 'inline-block';
								});
								document.getElementById('save').addEventListener('click', () => {
									setTimeout(() => {
										document.getElementById('FIRST_NAME').disabled = true;
										document.getElementById('LAST_NAME').disabled = true;
										document.getElementById('EMAIL').disabled = true;
										document.getElementById('PHONE').disabled = true;
										document.getElementById('PASSWORD').disabled = true;
										document.getElementById('PASSWORD').type = 'password';
										document.getElementById('edit').style.display = 'inline-block';
										document.getElementById('save').style.display = 'none';
									}, 0);
								});
							</script>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="Rent" role="tabpanel" aria-labelledby="Rent-tab">
					<h1 class="fw-bold SelfStorage_green mb-5">Добрый день, {{ request.user.first_name }}!</h1>
					<a href="#" class="SelfStorage_orange">История аренды</a>
					
					{% if not user_boxes %}
						<h4 class="SelfStorage_grey my-3">У вас нет активных аренд.</h4>
					{% else %}
						{% for box in user_boxes %}
							<div class="mb-5">
								<h4 class="SelfStorage_green">Мой склад</h4>
								<h4>{{ box.storage.location }}, {{ box.storage.adress }}</h4>
								<h4 class="SelfStorage_green">Мой бокс</h4>
								<h4>№{{ box.number }}</h4>
								<h4 class="SelfStorage_green">Характеристики бокса</h4>
								<h4>{{ box.area }} м² ({{ box.length }} х {{ box.width }} х {{ box.height }} м)</h4>
								<h4 class="SelfStorage_green">Цена</h4>
								<h4>{{ box.price }} ₽/мес</h4>
								
								{% for order in user_orders %}
									{% if order.box == box %}
										<h4 class="SelfStorage_green">Срок аренды</h4>
										<h4>{{ order.rental_start_date|date:"d.m.Y" }} - {{ order.end_rental_date|date:"d.m.Y" }}</h4>
									{% endif %}
								{% endfor %}
								
								<div>
									<button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Продлить аренду</button>
								</div>
								<form action="{% url 'open_box' box_id=box.id %}" method="POST">
									{% csrf_token %}
									<div>
										<button type="submit" name="open_box" class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3">Открыть бокс</button>
									</div>
								</form>
								
								<!-- <a href="#" class="SelfStorage_orange">Нужна помощь?</a> -->
							</div>
							{% comment %} <button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab" 
										onclick="window.location.href='{% url 'my_items' %}'">
									Мои вещи
								</button> {% endcomment %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}